<div class="row">

  <div class="col-3  mt-3">
      <a class="btn btn-info" routerLink="/addexpense">Добавить покупку</a>
      <input  class="form-control my-3" type="text" [(ngModel)]="filters.keyword" placeholder="Поиск по названию" (input)="listExpenses()"/>
      <select  class="form-control mb-3"  name="sortBy" [(ngModel)]="filters.sortBy" (change)="listExpenses()">
        <option value="5">Дата &#8595;</option>
        <option value="6">Дата &#8593;</option>
        <option value="1">Название &#8593;</option>
        <option value="2">Название &#8595;</option>
        <option value="3">Цена &#8593;</option>
        <option value="4">Цена &#8595;</option>
      </select>

  </div>
</div>

<table class="table table-striped ">
  <thead>
  <tr>
    <th scope="col">Название</th>
    <th scope="col">Цена</th>
    <th scope="col">Комментарий</th>
    <th scope="col">Дата</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let expense of expenses" >
    <td><b>{{expense.name}}</b></td>
    <td>{{expense.amount }} руб.</td>
    <td>{{expense.description}}</td>
    <td>{{expense.localDate}}</td>
    <td><a class="btn btn-info" routerLink="/editexpense/{{expense.id}}">Изменить</a>
      <button class="btn  btn-primary ml-3" (click)="deleteExpanse(expense.id)">Удалить</button></td>
  </tr>

  </tbody>
</table>

